.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.companyName {
  font-size: 22;
  font-weight: bold;
}
.navItems {
  display: flex;
  align-items: center;
  gap: 20px;
}
